@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Welcome! You are currently perusing a web page developed by Anthony Zoellner. The purpose of this application is to be used as submission for 
    Project 1 in a .NET batch at Revature under the supervision of trainer Nick Escalona. Please enjoy the application!</p>
