@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    2212 Astoria Circle
    Herndon, VA
    20170
    OR
    Revature, Attn. Anthony Zoellner,
    11730 Plaza America Dr,
    Second Floor,
    Reston, VA 
    20190
</address>

<address>
    <strong>Email:</strong> <a href="mailto:ajzoellner@gmail.com">ajzoellner@gmail.com</a><br />
</address>
