@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    2212 Astoria Circle<br />
    Herndon, VA<br />
    20170<br />
    <br />
    OR<br />
    <br />
    Revature, Attn. Anthony Zoellner,<br />
    11730 Plaza America Dr,<br />
    Second Floor,<br />
    Reston, VA<br />
    20190
</address>

<address>
    <strong>Email:</strong> <a href="mailto:ajzoellner@gmail.com">ajzoellner@gmail.com</a><br />
</address>
