@{
    ViewData["Title"] = "Home Page";
}

<h1>Welcome to our Pizzeria!!!</h1>

<p>Welcome! To see our users or make an order, please select the "User List" option above.</p>
<p>If you would like to see more information about our individual locations, please select the "Location List" option above.</p>
